.presentation {
  width: 60%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  margin: 0 auto;
}

.presentation p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color4);
  border-radius: 25px;
  background-color: var(--color2);
  padding: 15px;
}

.presentation img {
  width: clamp(150px, 40vw, 150px);
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 853px) {
  .presentation {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .presentation img {
    width: 60%;
    height: auto;
  }

  .presentation p {
    font-size: 1rem;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .presentation {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .presentation p {
    font-size: 1rem;
  }
}
