:root {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color1: #05161a;
  --color2: #0c7078;
  --color3: #6da5c0;
  --color4: #05161a;
  --color5: #072e33;

  color-scheme: light dark;
  background-color: var(--color3);
}
