:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color1: #6da5c0;
  --color2: #294d61;
  --color3: #0f909c;
  --color4: #072e33;
  color-scheme: light dark;
  background-color: var(--color3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
